@*
    @Model.RequestedUrl
    @Model.ReferrerUrl
*@
@{
    Html.TitleForPage(T("Page Not Found"));
}

<div class="col-md-6 pad-25">
    <div class="error404">
        <span>@T("404")</span>
    </div>
</div>
<div class="col-md-6 pad-25">
    <div class="details404">
        <h3>@T("We looked everywhere but couldn't find anything...sorry. Please try again!")</h3>
        <p>@T("Please try to search to look for more information on this site.")</p>
        @using (Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "search-form" })) {
            <input name="q" type="text" class="form-control" placeholder="@T("Search") ..." />
        }
        <a href="/" class="btn btn-flat btn-rounded flat-color"><i class="fa fa-long-arrow-left"></i>&nbsp;@T("Back to Home")</a>
    </div>
</div>
